# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
* List popular languages for Data Science
* List libraries used by Data Scientists
* List Deployment Environment Tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. scipy
4. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Spyder|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Men chanchhorporn